{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="West Gate Credit Union">
    <meta name="author" content="West Gate Credit Union">
    <meta name="keyword" content="West Gate Credit Union">
    <link rel="shortcut icon" href="{% static 'app/dist/img/WG.png' %}">
    <title>WestGateCU | Account</title>

    <!-- Icons -->
    <link href="{% static 'app/dist/vendors/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/dist/vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

     <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap-grid.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />

    <!-- Main styles for this application -->
    <link href="{% static 'app/dist/css/style.css' %}" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link href="{% static 'app/login/login_controller.css' %}" rel="stylesheet">
    {% block extrahead %}
    {% endblock %}
</head>