{% load static %}
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% if user.is_admin or user.is_staff or user.is_superuser %}# {% else %} # {% endif %}"></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>


    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">


                <img src="{{ user.image.url }}" class="img-avatar" alt="" >

            </a>
            {% if user.is_authenticated %}
            <div class="dropdown-menu dropdown-menu-right">

                <a class="dropdown-item" href="#"><i class="fa fa-user"></i>{{ user }}</a>
                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a>
            </div>
            {% endif %}
        </li>
    </ul>
    <button class="navbar-toggler aside-menu-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% block navbar %}
    {% endblock %}

</header>