{% extends 'app/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


    {% if user.is_authenticated %}

    <div class="content-section" id="login">
{#                                        <div>#}
{#            <ul class="messages">#}
{#                {% for message in messages %}#}
{#                <li class="{{ message.tags }}" style="color:Green;">{{ message }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#            </div>#}
    <br>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align: center">Change Your Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-info" type="submit">Confirm Change</button>
               <button class="btn btn-outline-info" type="button" onclick="window.location.href = '{% url 'single-client' %}'">Cancel</button>

            </div>
        </form>

    </div>
{% endif %}
{% endblock content %}
