{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your account with us. If you did not initiate this, then just ignore it.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your account no, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for banking with us" %}

{% blocktrans %}The West Gate Credit Union team{% endblocktrans %}

{% endautoescape %}